:root{
    --title-color: #2E2F42;
    --text-color: #434455;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


ul {
    margin: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

body {
   font-family: "Roboto", sans-serif;
   color: var(--text-color);
   background-color: #ffffff;
   
}

.list{
   list-style: none;
} 

.link{
    text-decoration: none;

}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
display: flex;
align-items: center;
} 

.header-navigation {
display: flex;
align-items: center;
margin-right: auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-span {
    color: var(--title-color);
}

.header-list {
display: flex;
gap: 40px;
}

.header-item {

}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color: #404BBF;

    
}
.header-link:focus {
    color: #404BBF;

}

.active {
    position: relative;
}


.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 44px;
}


.header-list-contacts {
    display: flex;
}

.header-adress {
    font-style: normal;
    
}

.header-contacts {
    font-style: normal;
}

.header-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-style: normal;
    margin-left: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover {
    color: #404BBF;

}
.header-contact:focus {
    color: #404BBF;

}

.solutions {
    height: 600px;
    background-color: var(--title-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/solutions-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    
}


.solutions-title {
    /* font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.solutions-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover{
    background-color: #404BBF;

}
.solutions-btn:focus{
    background-color: #404BBF;

}

.principles {
    background-color: #ffffff;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.principles-list {
    /* display: flex;
    width: calc ((100% - 24px) / 3); */

}

.principles-item {
    margin-bottom: 72px;
}

.principles-item:last-child {
    margin-bottom: 0;
}

.principles-feauters-icon {
    /* width: 264px;
    height: 112px;
    padding: 24px 100px;
    background-color:#F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px; */
    display: none;
}

.principles-title {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px; */
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}

.principles-text {
    /* width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 24px; */
    width: 396px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: auto;
}

.job {
    display: none;
}


.team {
    background-color: #F4F4FD;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.card-container {
    padding: 32px 16px;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text-color);
    margin-top: 8px;
    margin-bottom: 8px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
    background-color: #404BBF;
}

.team-soc-link:focus {
    background-color: #404BBF;
    
}

.team-soc-icon {
    fill: currentColor;
}

.customers {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers-logos-container {
    padding: 16px 32px;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 16px; 
    
}

.customers-item {
    /* width: 168px; */
    max-width: 190px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: calc(100% / 2 - 16px);
    margin-bottom: 72px;
}

.customers-item:nth-child(n+5) {
    margin-bottom: 0;
}

.customers-link {
    width: 168px;
    height: 88px;
    color: #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    border: 1px solid #404BBF;
    border-radius: 4px;
    color: #404BBF;
}


.customers-icon {
    fill: currentColor;
    width: 104px;
    height: 56px;
}

.footer {
    background-color: var(--title-color);
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
/* display: flex; */
}

.footer-logotype {
/* margin-right: 120px; */
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-span {
    color: #F4F4FD;
}

.footer-text {
    width: 268px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin: auto;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

.footer-soc-media {
    /* margin-right: 80px; */
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
} 

.footer-soc-list {
display: flex;
gap: 16px;
justify-content: center;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
    margin-bottom: 72px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover {
    background-color: #31D0AA;
    
}

.footer-soc-link:focus {
    background-color: #31D0AA;
    
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-subscribe {
    /* margin-right: 24px;*/
} 

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer-form {
/* display: flex; */

}

.footer-label {
    /* margin-right: 24px; */
}

.footer-input-text {

    /* width: 264px; */
    width: 398px;
    height: 40px;
    background-color: #2E2F42;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 8px 0 8px 16px;
    outline: transparent;
    margin-bottom: 16px;
}

::placeholder {
    color: white;
}

.footer-btn-wrap {
    display: flex;
    justify-content: center;
}
.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.footer-btn:hover{
    background-color: #404BBF;
}
.footer-btn:focus{
    background-color: #404BBF;
}

.send-icon {
    fill: #FFFFFF;

}

.header-container-portfolio {
    
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
    
}


.portfolio-title {
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.portfolio-item {
}

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover{
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}
.portfolio-btn:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}  

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio-list-photo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
}


img {
    display: block;
}


.portfolio-item-photo {
    flex-basis: calc(100% / 3 - 24px);
    margin-right: 24px;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {

}

.portfolio-item-photo:hover .portfolio-cover-text {
    transform: translate(0);
}

.portfolio-item-photo:focus .portfolio-cover-text {
    transform: translate(0);
}


.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-photo:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.portfolio-item-photo:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item-photo:nth-child(n+7) {
    margin-bottom: 0;
}


.card-container {
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    
}



.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.portfolio-text-photo {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-top: 8px;
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 26, 36, 0.432);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 20px 20px 20px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(0);

}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    color: #2E2F42;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-icon {
    fill: currentColor;
    
}

.modal-close:hover {
    background-color: #404BBF;
    color:#ffffff
}

.modal-close:focus {
    background-color: #404BBF;
    color:#ffffff
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    
    margin-bottom: 16px;
}
.modal-form {
}

.input-text {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}


.modal-textarea {
    width: 100%;
    height: 120px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.check-text{
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    align-items: center;
    
}

.policy-link {
    color: #4D5AE5;
    margin-left: 2px;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked + .check-text span {
    background: #404BBF;
    border: none;
    fill: #F4F4FD;
}

/*.check-text::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
}

.input-check:checked + .check-text::before {
    background: #404BBF;
    border: 1px solid #404BBF;
    border-radius: 2px;
}
*/

.modal-field {
    margin-bottom: 8px;
}

.input-wrap {
    position: relative;
    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-checkbox {
    margin-bottom: 24px;
}

.modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover{
    background-color: #404BBF;

}
.modal-btn:focus{
    background-color: #404BBF;
}



@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .principles-list {
        
    }
    .principles-feauters-icon {
        display: none;
    }
    .team-list {
        gap: 64px 24px;
    }
    .customers-item {
        width: calc(100% / 3 - 48px);
    }
    .footer {
        background-color: var(--title-color);
        padding-top: 96px;
        padding-bottom: 96px;
    
    }
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        
        }

        .footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: block;
    }
    .footer-text {
        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;;
        
        margin-right: 24px;
        margin-bottom: 72px;
        display: inline-block;
    }
    .footer-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: inline-block;
    } 
    .footer-subscribe {
        
    }
    .subscribe-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: inline-block;
    }
    .footer-form {
        display: flex;
        }
    .footer-label {
        margin-right: 24px;
    }
    .footer-input-text {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #ffffff;
        width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
    }

    .principles-list {
        display: flex;
        width: calc ((100% - 24px) / 3);
    }
    .principles-feauters-icon {
        display: flex;
        width: 264px;
        height: 112px;
        padding: 24px 100px;
        background-color:#F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .principles-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
        margin-bottom: 8px;
    }
    .principles-text {
        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
        margin-right: 24px;
    }
    .job {
        background-color: #ffffff;
        padding-bottom: 120px;
        display: flex;
    }
    
    .job-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-color);
        margin-bottom: 72px;
    }
    
    .job-list {
        display: flex;
        gap: 24px;
    }

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .customers-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .customers-item {
        width: 168px;
    }
    .footer {
        background-color: var(--title-color);
        padding-top: 100px;
        padding-bottom: 100px;
    
    }
    
    .footer-container {
    display: flex;
    flex-wrap: nowrap;
    }
    
    .footer-logotype {
    margin-right: 120px;
    }
    
    
    .footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
    }
    
    .footer-span {
        color: #F4F4FD;
    }
    
    .footer-text {
        width: 264px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;;
        
        display: inline-block;
    }
    
    .footer-soc-media {
        margin-right: 80px;
    }
    
    .footer-subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: inline-block;
    } 
    
    .footer-soc-list {
    display: flex;
    gap: 16px;
    }
    
    .footer-soc-item {
        width: 40px;
        height: 40px;
    }
    
    .footer-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4D5AE5;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F4F4FD;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-soc-link:hover {
        background-color: #31D0AA;
        
    }
    
    .footer-soc-link:focus {
        background-color: #31D0AA;
        
    }
    
    .footer-soc-icon {
        fill: currentColor;
    }
    
    .footer-subscribe {
        margin-right: 24px;
        display: inline-block;
    }
    
    .subscribe-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: inline-block;
    }
    
    .footer-form {
    display: flex;
    }
    
    .footer-label {
        margin-right: 24px;
    }
    
    .footer-input-text {
    
        width: 264px;
        height: 40px;
        background-color: #2E2F42;
        border: 1px solid #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        padding: 8px 0 8px 16px;
        outline: transparent;
    }
    
    ::placeholder {
        color: white;
    }
    
    .subscribe-btn {
    
    }
    .footer-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        min-width: 165px;
        height: 40px;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #4D5AE5;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .footer-btn:hover{
        background-color: #404BBF;
    }
    .footer-btn:focus{
        background-color: #404BBF;
    }
}


